#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 0.5rem;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img {
  width: 250px;
  height: 220px;
}
.card__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer {
  margin-top: 50px;
}
